[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "pyseto"
version = "1.6.0"
description = "A Python implementation of PASETO/PASERK."
authors = ["Ajitomi Daisuke <dajiaji@gmail.com>"]
readme = "README.md"
repository = "https://github.com/dajiaji/pyseto"

include = [
  ".pre-commit-config.yaml",
  "CHANGES.rst",
  "CODE_OF_CONDUCT.md",
  "LICENSE",
  "tox.ini",
  "pyseto/py.typed",
]

[tool.poetry.dependencies]
python = "^3.6.2"
Sphinx = {version = "^4.3.1", extras = ["docs"]}
sphinx-autodoc-typehints = {version = "^1.12.0", extras = ["docs"]}
sphinx-rtd-theme = {version = "^1.0.0", extras = ["docs"]}
cryptography = "^36.0.0"
pycryptodomex = "^3.12.0"
passlib = {extras = ["argon2"], version = "^1.7.4"}
iso8601 = "^1.0.2"

[tool.poetry.extras]
docs = [
  "Sphinx",
  "sphinx-rtd-theme",
  "sphinx-autodoc-typehints",
]

[tool.poetry.dev-dependencies]
pytest = "^5.2"
pytest-cov = "^3.0.0"
coverage = {extras = ["toml"], version = "^6.2"}
tox = "^3.24.4"
pre-commit = "^2.15.0"
mypy = "^0.910"

[tool.coverage.run]
parallel = true
branch = true
source = ["pyseto"]

[tool.coverage.paths]
source = ["pyseto", ".tox/*/site-packages"]

[tool.coverage.report]
show_missing = true

[tool.mypy]
ignore_missing_imports = true
