[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "pyseto"
version = "1.8.0"
description = "A Python implementation of PASETO/PASERK."
authors = ["Ajitomi Daisuke <dajiaji@gmail.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/dajiaji/pyseto"

include = [
  "CHANGES.rst",
  "docs",
  "poetry.lock",
  "tests",
  "tox.ini",
]

exclude = [
  "docs/_build",
]

[tool.poetry.dependencies]
python = ">=3.9,<4.0"
cryptography = ">=42.0.1,<44"
pycryptodomex = ">=3.18.0"
iso8601 = ">=1.0.2,<3.0.0"
Sphinx = {version = ">=7.1,<8", optional = true, extras = ["docs"]}
sphinx-autodoc-typehints = {version = ">=1.25.2", optional = true, extras = ["docs"]}
argon2-cffi = ">=23.1.0"

[tool.poetry.extras]
docs = [
  "Sphinx",
  "sphinx-rtd-theme",
  "sphinx-autodoc-typehints",
]

[tool.poetry.dev-dependencies]
pytest = ">=7.4"
pytest-cov = ">=4.1.0"
tox = ">=4.11.4"
pre-commit = ">=3.5.0"
freezegun = ">=1.2.2"

[tool.poetry.group.dev.dependencies]
sphinx-rtd-theme = ">=1.2.1,<4"
