# This workflow will install Python dependencies, run tests and lint with a variety of Python versions

name: Python CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    name: Python ${{ matrix.python-version }} on ${{ matrix.platform }}
    runs-on: ${{ matrix.platform }}
    env:
      USING_COVERAGE: '3.7,3.8'

    strategy:
      matrix:
        platform: [ubuntu-latest, windows-latest]
        python-version: ["3.6", "3.7", "3.8", "3.9"]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade coverage[toml] virtualenv tox tox-gh-actions poetry

    - name: Run tox targets for ${{ matrix.python-version }}
      run: python -m tox

    - uses: actions/setup-python@v2
      with:
        python-version: "3.8"

    - name: Combine coverage
      run: |
        set -xe
        python -m pip install coverage[toml]
        python -m coverage combine
        python -m coverage xml
      if: contains(env.USING_COVERAGE, matrix.python-version) && matrix.platform == 'ubuntu-latest'

    - name: Upload coverage to Codecov
      if: contains(env.USING_COVERAGE, matrix.python-version) && matrix.platform == 'ubuntu-latest'
      uses: codecov/codecov-action@v1
      with:
        fail_ci_if_error: true

  package:
    name: Build & verify package
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: "3.8"

    - name: Install poetry
      run: python -m pip install poetry twine

    - name: Build package
      run: |
        python -m poetry build

    - name: List result
      run: ls -l dist

    - name: Check long_description
      run: python -m twine check dist/*

  install-dev:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    name: Verify dev env
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: "3.8"

    - name: Install in dev mode
      run: python -m pip install .

    - name: Import package
      run: python -c 'import pyseto; print(pyseto.__version__)'
